VITE_SUPABASE_URL=https://mysqfdukeqiewdgtlvvv.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15c3FmZHVrZXFpZXdkZ3RsdnZ2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI0NDM1OTYsImV4cCI6MjA5ODAxOTU5Nn0.Ai12LybJVpL7QLhSc7aTjQxfGNELKXJ5iaYfTykO7qc
